.nav-link{
   color: white;
}
.navbarBody{
   
   padding: 0;
}

.navbar-toggler{
   margin: 0;
   padding: 0;
}
.navbarBody{
   display: flex;
   justify-content: space-between;
   padding: 15px;
   background-color: rgb(164, 164, 223);
   color: white;
}
.navbarBodyItens{
   display: flex;
   align-items: center;
}
.btnNavbarBodyItem{
   display: none;
   justify-content: center;
   min-width: 20px;
   color: black;

}
.navbarBodyItem{
   margin-left: 13px;
   display: flex;
   align-items: center;
}
.navBarLogo{
   color: white;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.MenuIcon{

   margin: 0 -10px;
   color: black;
   
}

@media (max-width:400px) {
   .nav-link{
      margin: 0;
      padding: 0;
      
   }
   .btnNavbarBodyItem{
      display: flex;
      padding: 0;
   }
}